<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://kit.fontawesome.com/8209583a32.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <!-- <script defer src="js/index.js"></script> -->
  </head>
  <body>
    <div class="container">
    <nav>
      <img src="assets/devchallenges.svg" alt="nav-logo" class="nav-logo" />
    </nav>
    <%- include("messages") -%>
  </body>
</html>
