
<% if(success && success.length > 0) { %>
<div class="flash-message success-message">
    <%= success %>
    <button class="close" onclick="closeMessage()">&#215</button>
</div>
<% } %>

<% if(error && error.length > 0) { %>
    <div class="flash-message error-message">
        <%= error %>
        <button class="close" onclick="closeMessage()">&#215</button>
    </div>
    <% } %>

<script>
    function closeMessage() {
        document.querySelector(".flash-message").style.display = "none";
    }
</script>